.button {
    background-color: black;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: block; 
    font-size: 20px;
    width: 9%;
    border: 15px solid white;
}

body{
    font-size: 23px;
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input
{
    font-size: 20px;
}

.submit
{
    font-size: 20px;padding:10px;
}

.logo
{
    margin-left: 0px;
}

.heading
{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}